<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <section>
        <video src=""></video>
        <div class="controls">
            <div class="upControls">

            </div>
            <div class="movementControls">
                <div class="keyControls">
                    <div class="up">
                        <div class="key w">W</div>
                    </div>
                    <dib class="bottom">
                        <div class="key a">A</div>
                        <div class="key s">S</div>
                        <div class="key d">D</div>
                    </dib>
                </div>
                <div class="sideControls">

                </div>
            </div>
        </div>
    </section>
    <script src="/script.js" type="module"></script>
</body>
</html>